.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 1 500px;
  min-height: 400px;
  margin: 20px 15px;
  box-shadow: 0px 3px 5px $color-shadow;
  border-radius: 2px;

  button {
    width: 100%;
    border-bottom: 0;
  }
}
