//colors

$color-title: #1D1D1D;
$color-white: #fff;
$color-red: #F44336;
$color-text: #212121;
$color-shadow: #00000033;
$color-grey-xlight: #eceff1;
$color-grey-xxlight: #F5F5F5;
$color-blue-water: #006666;
$color-blue: #3399CC;

$color-facebook: #3b5998;
$color-google: #DD2C01;
$color-github: #4AB349;

